In [18]:
import pandas as pd
df= pd.read_csv("C:/Users/LILENDAR/Desktop/PROJECT 1/College1234.csv")

In [19]:
df.head()

,Unnamed: 0,Serial No.,GRE,TOEFL,University,SOP,LOR,CGPA,Research,Chance
0,0,1,337,118,4Star,4.5,4.5,9.65,1,0.92
1,1,2,324,107,4Star,4.0,4.5,8.87,1,0.76
2,2,3,316,104,3Star,3.0,3.5,8.00,1,0.72
3,3,4,322,110,3Star,3.5,2.5,8.67,1,0.80
4,4,5,314,103,2Star,2.0,3.0,8.21,0,0.65

In [20]:
d={"1Star":1,"2Star":2,"3Star":3,"4Star":4,"5Star":5}
df["University"]=df["University"].apply(lambda df:d[df])

In [21]:
df.head()

,Unnamed: 0,Serial No.,GRE,TOEFL,University,SOP,LOR,CGPA,Research,Chance
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [22]:
data3=pd.get_dummies(df, columns=['Research'])
data3.head()

,Unnamed: 0,Serial No.,GRE,TOEFL,University,SOP,LOR,CGPA,Chance,Research_0,Research_1
0,0,1,337,118,4,4.5,4.5,9.65,0.92,0,1
1,1,2,324,107,4,4.0,4.5,8.87,0.76,0,1
2,2,3,316,104,3,3.0,3.5,8.00,0.72,0,1
3,3,4,322,110,3,3.5,2.5,8.67,0.80,0,1
4,4,5,314,103,2,2.0,3.0,8.21,0.65,1,0

In [23]:
data3.columns

Index(['Unnamed: 0', 'Serial No.', 'GRE', 'TOEFL', 'University', 'SOP', 'LOR',
       'CGPA', 'Chance', 'Research_0', 'Research_1'],
      dtype='object')

In [29]:
import statsmodels.formula.api as sm
model1 = sm.ols(formula='Chance~GRE+TOEFL+University+SOP+LOR+CGPA+Research_0+Research_1', data=data3).fit()
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Chance   R-squared:                       0.803
Model:                            OLS   Adj. R-squared:                  0.800
Method:                 Least Squares   F-statistic:                     228.9
Date:                Sun, 01 Mar 2020   Prob (F-statistic):          3.12e-134
Time:                        22:25:54   Log-Likelihood:                 537.37
No. Observations:                 400   AIC:                            -1059.
Df Residuals:                     392   BIC:                            -1027.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.8314      0.084     -9.868      0.000      -0.997      -0.666
GRE            0.0017      0.001      2.906      0.004       0.001       0.003
TOEFL          0.0029      0.001      2.680      0.008       0.001       0.005
University     0.0057      0.005      1.198      0.232      -0.004       0.015
SOP           -0.0033      0.006     -0.594      0.553      -0.014       0.008
LOR            0.0224      0.006      4.034      0.000       0.011       0.033
CGPA           0.1189      0.012      9.734      0.000       0.095       0.143
Research_0    -0.4280      0.041    -10.546      0.000      -0.508      -0.348
Research_1    -0.4035      0.044     -9.174      0.000      -0.490      -0.317
==============================================================================
Omnibus:                       87.895   Durbin-Watson:                   0.759
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              181.191
Skew:                          -1.159   Prob(JB):                     4.52e-40
Kurtosis:                       5.344   Cond. No.                     6.92e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.36e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [25]:
import os
os.getcwd()

'C:\\Users\\LILENDAR\\Desktop\\PROJECT 1'

In [26]:
data3.to_csv('data3.csv')