In [2]:
import os
os.chdir("C:/Users/LILENDAR/Desktop/Python Directory")

In [3]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [4]:
df.head(15)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH

In [16]:
def answer_one():
    only_gold=df[(df['Gold']>0)&(df['Gold.1']>0)]
    only_gold['Difference']=(abs(only_gold['Gold']-only_gold['Gold.1']))/only_gold['Gold.2']
    return only_gold['Difference'].idxmax()
answer_one()

C:\Users\LILENDAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

'Bulgaria'

In [10]:
def answer():
    df['Points']=df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']*1
    return df['Points']
answer()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64

In [14]:
def answer_three():
    k=[]
    data1=df[(df['Gold']>1)&(df['Gold.1']>1)]

    for i in range(len(data1["Gold"])):

    
        diff=data1["Gold"][i]-data1["Gold.1"][i]
        summ=data1["Gold"][i]+data1["Gold.1"][i]
        p=abs(diff/summ)
        k.append(p)
        
    country=data1.index[k.index(max(k))]
    return country

In [15]:
answer_three()

'Australia'

In [26]:
census_df = pd.read_csv('census.csv')
census_df.head(30)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058

In [42]:
def answer_six(): 
    df1=census_df.sort_values(['STNAME','POPESTIMATE2015'], ascending=False).groupby('STNAME').head(3).copy()
    df2=df1.reset_index().groupby('STNAME').sum().sort_values(['POPESTIMATE2015'], ascending=False).head(3).copy()
    return list(df2.index)
answer_six()

['California', 'Texas', 'Florida']

In [43]:
def answer_seven():
    df=census_df[census_df['SUMLEV']==50]
    df['STDEV']=df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013',
                'POPESTIMATE2014','POPESTIMATE2015']].std(axis=1)
    return df.loc[df['STDEV'].idxmax()]['CTYNAME']
answer_seven()

C:\Users\LILENDAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

'Harris County'

In [44]:
def answer_eight():
    df=census_df[census_df['SUMLEV']==50]
    region1=df['REGION']==1
    region2=df['REGION']==2
    country_name=df['CTYNAME'].str.startswith('Washington')
    population=df['POPESTIMATE2015']>df['POPESTIMATE2014']
    df=df[(region1|region2)&country_name&population]
    return df[['STNAME','CTYNAME']]
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [22]:
max_county=census_df.loc[census_df["COUNTY"].idxmax()]["STNAME"]

'Virginia'

In [30]:
a=[x for x in census_df["STNAME"]]

In [40]:
a=[x for x in census_df["STNAME"]]
b=set(a)
c=list(b)

['South Carolina',
 'Nevada',
 'New York',
 'New Hampshire',
 'Vermont',
 'Maryland',
 'Colorado',
 'Pennsylvania',
 'Illinois',
 'Rhode Island',
 'New Mexico',
 'North Carolina',
 'Texas',
 'Delaware',
 'California',
 'North Dakota',
 'Oregon',
 'Hawaii',
 'District of Columbia',
 'Alabama',
 'Virginia',
 'Alaska',
 'New Jersey',
 'Maine',
 'Kansas',
 'Utah',
 'Kentucky',
 'Washington',
 'Georgia',
 'Mississippi',
 'Oklahoma',
 'Missouri',
 'Minnesota',
 'West Virginia',
 'Montana',
 'Tennessee',
 'Connecticut',
 'Arkansas',
 'Wisconsin',
 'Wyoming',
 'Indiana',
 'Ohio',
 'Louisiana',
 'Arizona',
 'Iowa',
 'Massachusetts',
 'Idaho',
 'Nebraska',
 'South Dakota',
 'Michigan',
 'Florida']

In [39]:
from collections import Counter 
  
# driver program
m=[]
for x in c:
    d = Counter(census_df["STNAME"]) 
    print('{} has occurred {} times'.format(x, d[x]))
    m.append(d[x])
max(m)

South Carolina has occurred 47 times
Nevada has occurred 18 times
New York has occurred 63 times
New Hampshire has occurred 11 times
Vermont has occurred 15 times
Maryland has occurred 25 times
Colorado has occurred 65 times
Pennsylvania has occurred 68 times
Illinois has occurred 103 times
Rhode Island has occurred 6 times
New Mexico has occurred 34 times
North Carolina has occurred 101 times
Texas has occurred 255 times
Delaware has occurred 4 times
California has occurred 59 times
North Dakota has occurred 54 times
Oregon has occurred 37 times
Hawaii has occurred 6 times
District of Columbia has occurred 2 times
Alabama has occurred 68 times
Virginia has occurred 134 times
Alaska has occurred 30 times
New Jersey has occurred 22 times
Maine has occurred 17 times
Kansas has occurred 106 times
Utah has occurred 30 times
Kentucky has occurred 121 times
Washington has occurred 40 times
Georgia has occurred 160 times
Mississippi has occurred 83 times
Oklahoma has occurred 78 times
Missouri has occurred 116 times
Minnesota has occurred 88 times
West Virginia has occurred 56 times
Montana has occurred 57 times
Tennessee has occurred 96 times
Connecticut has occurred 9 times
Arkansas has occurred 76 times
Wisconsin has occurred 73 times
Wyoming has occurred 24 times
Indiana has occurred 93 times
Ohio has occurred 89 times
Louisiana has occurred 65 times
Arizona has occurred 16 times
Iowa has occurred 100 times
Massachusetts has occurred 15 times
Idaho has occurred 45 times
Nebraska has occurred 94 times
South Dakota has occurred 67 times
Michigan has occurred 84 times
Florida has occurred 68 times

255

In [25]:
max(census_df["SUMLEV"])

50

In [24]:
census_df["COUNTY"][2990:3010]

2990    750
2991    760
2992    770
2993    775
2994    790
2995    800
2996    810
2997    820
2998    830
2999    840
3000      0
3001      1
3002      3
3003      5
3004      7
3005      9
3006     11
3007     13
3008     15
3009     17
Name: COUNTY, dtype: int64

In [19]:
def answer_five():
    df=census_df[census_df['SUMLEV']==50]
    df=df.groupby(['SUMLEV','STNAME']).size().to_frame(name='count').reset_index()
    print(df)
    return df.loc[df['count'].idxmax()]['STNAME']
answer_five()

    SUMLEV                STNAME  count
0       50               Alabama     67
1       50                Alaska     29
2       50               Arizona     15
3       50              Arkansas     75
4       50            California     58
5       50              Colorado     64
6       50           Connecticut      8
7       50              Delaware      3
8       50  District of Columbia      1
9       50               Florida     67
10      50               Georgia    159
11      50                Hawaii      5
12      50                 Idaho     44
13      50              Illinois    102
14      50               Indiana     92
15      50                  Iowa     99
16      50                Kansas    105
17      50              Kentucky    120
18      50             Louisiana     64
19      50                 Maine     16
20      50              Maryland     24
21      50         Massachusetts     14
22      50              Michigan     83
23      50             Minnesota     87
24      50           Mississippi     82
25      50              Missouri    115
26      50               Montana     56
27      50              Nebraska     93
28      50                Nevada     17
29      50         New Hampshire     10
30      50            New Jersey     21
31      50            New Mexico     33
32      50              New York     62
33      50        North Carolina    100
34      50          North Dakota     53
35      50                  Ohio     88
36      50              Oklahoma     77
37      50                Oregon     36
38      50          Pennsylvania     67
39      50          Rhode Island      5
40      50        South Carolina     46
41      50          South Dakota     66
42      50             Tennessee     95
43      50                 Texas    254
44      50                  Utah     29
45      50               Vermont     14
46      50              Virginia    133
47      50            Washington     39
48      50         West Virginia     55
49      50             Wisconsin     72
50      50               Wyoming     23

'Texas'

# class and inheritance

In [45]:
class weight:
    
    def __init__(self,x,y):
        
        self.father=x
        self.mother=y
        
        year2010=weight(60,50)
        year2015=weight(61,51)
        year2020=weight(63,52)
        
        def family_wt(self):
            return self.father+self.mother
        print(year2015.family_wt())